@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Swiper */
div.swiper-button-prev,
div.swiper-button-next {
  color: lime;
  padding: 50px;
  border-radius: 50%;
  transform: scale(.3);
  outline: auto;
}

div.swiper-button-prev:hover {
  background-color: #E4FABF;

}

div.swiper-button-next:hover {
  background-color: #E4FABF;

}

/* MUI STepper Text */
.Mui-active {
  font-weight: 600 !important;
  color: #056835 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MuiStepLabel-label {
  color: #056835 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7em;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: auto !important;
  margin-top: auto !important;
}
.Mui-disabled	{
  color: grey !important;

}