@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Swiper Navigation Buttons */
div.swiper-button-prev,
div.swiper-button-next {
  color: lime;
  padding: 50px;
  border-radius: 50%;
  transform: scale(.3);
  outline: auto;
}

div.swiper-button-prev:hover {
  background-color: #E4FABF;

}

div.swiper-button-next:hover {
  background-color: #E4FABF;

}


/* MUI STepper Text */
.Mui-active {
  font-weight: 600 !important;
  color: #056835 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MuiStepLabel-label {
  color: #056835 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7em;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: auto !important;
  margin-top: auto !important;
}
.Mui-disabled	{
  color: grey !important;

}


/* .StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  }
   */

   .MuiOutlinedInput-input{ 
    padding-top: 0px !important;
    padding-top: 10px !important;
  }